* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: #000000;
  --text-header: #E50000;
  --bg-main: #555555;
  --text-main: #FBFBFB;
}

body {
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--bg-main);
}

header {
  background-color: var(--bg-header);
  padding: 5px;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

main {
  position: relative;
  top: 0;
  left: 0;
  color: var(--text-main);
  columns: var(--text-main);
  display: flex;
}

h1 {
  color: var(--text-header);
  text-transform: uppercase;
}

.card-description {
  background-color: var(--bg-header);
  color: var(--text-main);
  display: none;
  border-radius: 5px;

}

.title {
  height: 15%;
}

.overview {
  height: 40%;
}

.title,
.overview {
  white-space: wrap;
  overflow: hidden;
  text-overflow: "-";
}

.flag {
  width: 70px;
}

.rating {
  font-size: 1.2em;
}

.card-img-top:hover {
  cursor: pointer;
}

.card-description:hover {
  cursor: pointer;
}

.card:hover .card-description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
}